<div class="area" ng-controller="overviewCtrl">
	<form >
		<div class="header">
			<h3>Welcome to SOAJS Installer</h3>
		</div>
		<p>
			Hello Beaver and welcome to the SOAJS installer.<br />
			This Wizard will guide you through the steps needed to customize and install a fresh copy of SOAJS on your local or remote machine.
		</p>
		<hr>
		<h3>Deployment</h3>
		<p>
			Before you proceed, pick a deployment type.
			
		</p>
		<br />
		<accordion close-others="true">
			<accordion-group heading="Manual Deployment" ng-click="selectLocation('manual')" is-open="manual">
				<p>
					<b>Overview:</b><br />
					This deployment will perform an NPM install of all SOAJS ready made services on your local machine.<br />
					Once installed, the services will be started and you can interact with them via a User Interface.
				</p>
				<pre ng-if="style.manual.t==='sh'" class="bash"><code># Install needed technologies for manual deployment
{{style.manual.v}}</code></pre>
				<p>
					Copy the command line above and run it in your terminal to install both MongoDB and Nginx; both are needed if you wish to proceed.<br />
					Once installed, click proceed at the bottom of this page to move on to the next sections.
				</p>
			</accordion-group>
			
			<accordion-group heading="Local Cloud Deployment" is-open="local" ng-click="selectLocation('local')">
				<p>
					<b>Overview:</b><br />
					Deploy SOAJS cloud on your local machine.<br />
					Once deployed, you can interact with SOAJS ready made services via a User Interface.<br />
					This type of deployment is only supported on machines running Ubuntu or Mac.
				</p>
				<b><u>Deployment Type:</u></b><br />
				<input type="radio" name="localButtons" ng-value="docker" ng-click="selectDeployment('docker')"/>&nbsp;Docker Deployment (Ubuntu or Mac only)<br />
				<input type="radio" name="localButtons" ng-value="kubernetes" ng-click="selectDeployment('kubernetes')"/>&nbsp;Kubernetes Deployment (Ubuntu Mac only)<br /><br />
				
				<pre ng-show="style.docker.t==='sh'" class="bash"><code># Install needed technologies for docker swarm deployment
{{style.docker.v}}</code></pre>
				<div ng-show="style.docker.t === 'link'"><b>Download Link:</b> <a href="{{style.docker.v}}">{{style.docker.v}}</a></div>
			</accordion-group>
			
			<accordion-group heading="Remote Cloud Deployment" is-open="remote" ng-click="selectLocation('remote')">
				<p>
					<b>Overview:</b>
					Deploy SOAJS cloud on a remote machine.<br />
					Once deployed, you can interact with SOAJS ready made services via a User Interface.<br />
					This type of deployment is only supported on machines running Ubuntu.

				</p>
				<b><u>Deployment Type:</u></b><br />
				<input type="radio" name="remoteButtons" ng-value="docker" ng-click="selectDeployment('docker')"/>&nbsp;Docker Deployment (Ubuntu Only)<br />
				<input type="radio" name="remoteButtons" ng-value="kubernetes" ng-click="selectDeployment('kubernetes')"/>&nbsp;Kubernetes Deployment (Ubuntu Only)<br /><br />
				
				<pre ng-if="kubernetes" class="bash"><code># Install needed technologies for kubernetes deployment
{{style.kubernetes.v}}</code></pre>
				
				<pre ng-if="docker" class="bash"><code># Install needed technologies for docker deployment
{{style.docker.v}}</code></pre>
				
				<alert type="warning">
					<b><u>Note:</u></b><br />
					You have chosen to deploy SOAJS on a remote machine.<br />
					<b>This type of deployment is only supported on machines running Ubuntu operating systems</b><br />
					Follow the instructions below before proceeding to the next page:<br /><br />
					<div>
						<ol>
							<li>Create a remote machine with Ubuntu on it.</li>
							<li>Run the Script above and it will install docker and generate self-signed certificates for you.</li>
							<li>Copy these certificates to a folder on this machine.</li>
							<li>Provide the IP address of the remote machine and the certificates location in the last Step of this wizard when asked.</li>
						</ol>
						<b>Or:</b>
						<ol>
							<li>Create a remote machine with Ubuntu on it.</li>
							<li>Purchase certificates for a third party provider.</li>
							<li>Copy these certificates to a folder on the remote machine.<br />
								<u>ex:</u><br />
								- <b>Docker:</b>&nbsp;'~/.docker/'<br>
								- <b>Kubernetes:</b>&nbsp;'~/.minikube/'
							</li>
							<li>Run the Script above and it will install docker using these certificates.</li>
							<li>Copy the same certificates to a folder on this machine.</li>
							<li>Provide the IP address of the remote machine and the certificates location in the last Step of this wizard when asked.</li>
						</ol>
					</div>
				</alert>
			</accordion-group>
			
		</accordion>
		<br />
		<div class="w-100 table">
			<input type="button" class="f-right btn btn-sm btn-primary" value="Proceed" ng-click="fillOverView()"/>
		</div>
	</form>
</div>