<div class="area" ng-controller="progressCtrl">
	<form>
		<div class="header">
			<h3>Progress</h3>
		</div>
	</form>
	<p>
		SOAJS Installation Script has been Generated.<br/>
		Update your hosts file with the following entries:
	</p>
	<pre class="bash"><code>{{hosts.api}}
{{hosts.site}}
{{hosts.mongo}}</code></pre>
	<p>
		Run the following command in your termnial and SOAJS will be downloaded and installed:
	</p>
	<pre class="bash"><code># Run this in your terminal
{{cmd}}</code></pre>
	<hr>
	<div ng-show="!download && info.download.progress">
		<h4><u>Progress Details:</u></h4>
		<p>
			The download is affected by your internet speed, do not close this page.<br />
			Downloading Components, please wait {{info.download.progress}}% ...
		</p>
		<progressbar class="progress-striped active" value="info.download.progress" type="{{info.download.barType}}"></progressbar>
	</div>
	<div ng-show="download && deployType==='manual'">
		<h4><u>Progress Details:</u></h4>
		<p>
			All Components Downloaded, Installing ...
		</p>
		<progressbar class="progress-striped active" value="100" type="success">SOAJS Downloaded ( 100% )</progressbar>
		
		<div ng-show="!install">
			<p>
				Installing Components ( {{info.install.progress}}% )....
			</p>
			<progressbar class="progress-striped active" value="info.install.progress" type="{{info.install.barType}}"></progressbar>
		</div>
		<div ng-show="install">
			<p>
				SOAJS installed and running.
			</p>
			<progressbar class="progress-striped active" value="100" type="success">SOAJS Installed ( 100% )</progressbar>
			<p>
				Click the following link and you will be taken to the login page of the dashboard: <a href="{{ui}}" target="_blank">{{ui}}</a>
			</p>
		</div>
	</div>
	<div ng-show="getDeployType!=='manual' && download">
		<p>
			SOAJS installed and running.
		</p>
		<p>
			Click the following link and you will be taken to the login page of the dashboard: <a href="{{ui}}" target="_blank">{{ui}}</a>
		</p>
	</div>
</div>