<div class="area" ng-controller="deploymentCtrl">
    <div ng-show="alerts && alerts.length > 0">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            {{alert.msg}}
        </alert>
    </div>
	<div ng-show="!confirmation && deployment.deployType ==='manual'">
		<form class="css-form" novalidate>
			<div class="header">
				<h3>Deployment Information</h3>
			</div>
		</form>
		<p>
			You have selected manual deployment in <b>Overview</b> section.<br />
			Manual Deployment has no extra configuration, click proceed to start the deployment.
			<input value="Proceed" class="btn btn-sm btn-primary f-right" type="button" ng-click="goToFinal()"/>
		</p>
	</div>
    <form ng-hide="confirmation" name="deploymentForm" class="css-form" novalidate
          ng-submit="deploymentForm.$valid && fillDeployment();" ng-show="ha">
        <div class="header">
            <h3>Deployment Information</h3>
        </div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="containerHost-wrapper">
                        <label>Master Node Hostname/IP</label>
                        <input type="text" ng-required="false" class="form-control" name="containerHost"
                               id="containerHost" ng-model="deployment.containerHost" placeholder="deployment.containerHost"/>
                        <div class="fieldMsg hint">Specify the Hostname/IP of the Master Node.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="containerDir-wrapper">
                        <label>Certificates Directory</label>
                        <input type="text" ng-required="false" class="form-control" name="containerDir"
                               id="containerDir" ng-model="deployment.containerDir" placeholder="Directory of the docker certificates"/>
                        <div class="fieldMsg hint">Specify the Certificates Director for HA Deployment.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="imagePrefix-wrapper">
                        <label>Image Prefix</label>
                        <input type="text" ng-required="false" class="form-control" name="imagePrefix" id="imagePrefix"
                               ng-model="deployment.imagePrefix" placeholder="deployment.imagePrefix"/>
                        <div class="fieldMsg hint">Specify the Image Prefix to use for containers.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="mongoExt-wrapper">
                        <input class="f-left form-control" id="mongoExt" name="mongoExt" ng-model="deployment.mongoExt"
                               tooltip="Check the box if you want Mongo to be outside the container cloud."
                               ng-required="false" type="checkbox"/>&nbsp;<label>External
                        Mongo</label>

                        <div class="fieldMsg hint">Specify if Mongo should be outside the container cloud</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="gitOwner-wrapper">
                        <label>Git Owner</label>
                        <input type="text" ng-required="false" class="form-control" name="gitOwner" id="gitOwner"
                               ng-model="deployment.gitOwner" placeholder="soajs"/>
                        <div class="fieldMsg hint">Specify the owner of the git repository.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="gitRepo-wrapper">
                        <label>Git Repository</label>
                        <input type="text" ng-required="false" class="form-control" name="gitRepo" id="gitRepo"
                               ng-model="deployment.gitRepo" placeholder="customUI"/>
                        <div class="fieldMsg hint">Specify the name of the git repository.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="gitToken-wrapper">
                        <label>Git Token</label>
                        <input type="text" ng-required="false" class="form-control" name="gitToken" id="gitToken"
                               ng-model="deployment.gitToken" placeholder="Token ID"/>
                        <div class="fieldMsg hint">Specify the token of the git repository.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="nginxPort-wrapper">
                        <label>NGINX Port</label>
                        <input type="number" ng-required="false" class="form-control" name="nginxPort"
                               id="nginxPort" ng-model="deployment.nginxPort" placeholder="deployment.nginxPort" min="1"/>
                        <div class="fieldMsg hint">Specify the NGINX port number.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="nginxSecurePort-wrapper">
                        <label>NGINX Secure Port</label>
                        <input type="number" ng-required="false" class="form-control" name="nginxSecurePort"
                               id="nginxSecurePort" ng-model="deployment.nginxSecurePort" placeholder="deployment.nginxSecurePort" min="1"/>
                        <div class="fieldMsg hint">Specify the NGINX secure port number.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="nginxSsl-wrapper">
                        <input class="f-left form-control" id="nginxSsl" name="nginxSsl" ng-model="deployment.nginxSsl"
                               tooltip="Check the box if you want SSL certificates to be created with NGINX."
                               ng-required="false" type="checkbox"/>&nbsp;<label>NGINX SSL</label>
                        <div class="fieldMsg hint">Specify if SSL certificates should be created with NGINX</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="dockerSocket-wrapper">
                        <label>Docker Socket Directory</label>
                        <input type="text" ng-required="false" class="form-control" name="dockerSocket" id="dockerSocket"
                               ng-model="deployment.dockerSocket" placeholder="deployment.dockerSocket"/>
                        <div class="fieldMsg hint">Specify the directory of the docker socket.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="networkName-wrapper">
                        <label>Network Name</label>
                        <input type="text" ng-required="false" class="form-control" name="networkName" id="networkName"
                               ng-model="deployment.networkName" placeholder="deployment.networkName"/>
                        <div class="fieldMsg hint">Specify the network name.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="containerPort-wrapper">
                        <label>Docker Container Port Number</label>
                        <input type="number" ng-required="false" class="form-control" name="containerPort" ng-model="deployment.containerPort"
                               id="containerPort" placeholder="deployment.containerPort" min="1"/>
                        <div class="fieldMsg hint">Specify the docker container port number.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="dockerInternalPort-wrapper">
                        <label>Docker Internal Port Number</label>
                        <input type="number" ng-required="false" class="form-control" name="dockerInternalPort" ng-model="deployment.dockerInternalPort"
                               id="dockerInternalPort" placeholder="deployment.dockerInternalPort" min="1"/>
                        <div class="fieldMsg hint">Specify the docker internal port number.</div>
                    </div>
                </td>
            </tr>
            <tr class="form-group tr-code-wrapper" ng-show="ha">
                <td class="form-select">
                    <div id="initialReplica-wrapper">
                        <label>Initial Number of Replicas</label>
                        <input type="number" ng-required="false" class="form-control" name="dockerReplica" ng-model="deployment.dockerReplica"
                               placeholder="deployment.dockerReplica" id="dockerReplica" min="1"/>
                        <div class="fieldMsg hint">Specify the Initial number of replicas per container to start with.
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="footer c-both table w-100">
            <br/>
            <input value="Go Back" class="btn btn-sm btn-danger f-left" type="button" ng-click="goBack()"/>
            <input value="Proceed" class="btn btn-sm btn-primary f-right" type="submit"/>
        </div>
    </form>
    <div ng-show="confirmation" class="w-100 table">
        <form>
            <div class="header">
                <h3>Overview</h3>
            </div>
        </form>
        <div class="box" ng-show="data.gi">
            <div class="box-heading">General Information</div>
            <div class="box-content">
                <pre ng-bind-html="data.gi"></pre>
            </div>
        </div>
        <div class="box" ng-show="data.security">
            <div class="box-heading">Security Information</div>
            <div class="box-content">
                <pre ng-bind-html="data.security"></pre>
            </div>
        </div>
        <div class="box" ng-show="data.clusters">
            <div class="box-heading">Clusters Information</div>
            <div class="box-content">
                <pre ng-bind-html="data.clusters"></pre>
            </div>
        </div>
        <div class="box" ng-show="data.deployment">
            <div class="box-heading">Deployment Information</div>
            <div class="box-content">
                <pre ng-bind-html="data.deployment"></pre>
            </div>
        </div>
        <input value="Go Back" class="btn btn-sm btn-danger f-left" type="button" ng-click="confirmation=false;"/>
        <input type="button" value="Install / Re-Install SOAJS" class="btn btn-success f-right"
               ng-click="installSOAJS()"/>
    </div>
</div>
<script type="text/ng-template" id="deployModal.tmpl">
    <div class="modal-body">
        <h4 style="text-align: center;">SOAJS Installed Successfully !</h4>
        <p>
            SOAJS Installation Script has been Generated.<br/>
	        Update your hosts file with the following entries:
        </p>
	    <pre class="bash"><code>{{hosts.api}}
{{hosts.site}}
{{hosts.mongo}}</code></pre>
        <p>
	        Run the following command in your termnial and SOAJS will be installed and deployed:
        </p>
	    <pre class="bash"><code># Run this in your terminal
{{cmd}}</code></pre>
        <p>
            Once you finish click the following link and you will be taken to the login page of the dashboard: <a
                href="{{ui}}" target="_blank">{{ui}}</a>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="finalize()">OK</button>
    </div>
</script>