body{
    margin:0;
    padding: 0;
    background:white;
}

#wrapper {
    clear: both;
    display: table;
    min-height: 700px;
    height: auto;
    width: 100%;
    z-index: 2;
}

#big{
    width: 100%;
    padding-top:20px;
    position:absolute;
    opacity: 0.2;
}
#bigImage{
    margin: 0 auto;
    width:500px;
}
/*
    MAIN MENU BAR
*/
#menu {
    border-bottom:solid 2px #424951;
    position: relative;
    top: 505px;
    padding-bottom: 4px;
}

#menu.animate{
    top:2px;
    transition:top 2s;
}

#menu .area {
    height: 43px;
    margin: 0 auto;
    width: 1000px;
    position:relative;
}

#menu .area .title {
    position:absolute;
    margin: 0 auto;
    letter-spacing: 1px;
    padding: 5px 10px;
    text-align: center;
    color: #424951;
    font-weight:bold;
    font-size: 24px;
    text-decoration: none;
    display:none;
}

#menu .area .title2 {
    position:absolute;
    margin: 0 auto;
    letter-spacing: 1px;
    padding: 2px 0 0;
    text-align: center;
    color: #424951;
    font-weight:normal;
    font-size: 24px;
    text-decoration: none;
    background-color:white !important;
    z-index:2;
}

#menu .area .title .mainButton,
#menu .area .title .mainButton:hover{
    /*cursor: pointer;*/
    text-decoration:none;
    color: #424951 !important;
}

#menu .area .title.activeMainButton{
    background-color: #424951;
    transition: background-color 1s;
}
#menu .area .title.activeMainButton a{
    color:white !important;
    transition: color 2s;
    outline: 0 none;
    display: table;
}

#menu2 {
    position: relative;
    top: 505px;
}

#menu2 .area {
    height: 43px;
    margin: 0 auto;
    width: 1000px;
    position:relative;
    text-align:center;
    padding-top:10px;
}

/*
    TOP MENU BAR
*/
#topMenu {
    display:none;
    height: 43px;
}

#topMenu .area {
    height: 30px;
    margin: 0 auto;
    width: 1000px;
}

#topMenu .area ul {
    float: right;
    list-style-type: none;
    margin: 7px 0 0;
    padding: 0;
}

#topMenu ul li {
    float: left;
    margin: 0;
    padding: 0;
}

#topMenu .area li:hover a, #topMenu .area li.active a {
    /*background: #464646;*/
    /*background-color: #DA9437;*/
    border-bottom: 2px solid #DA9437 !important;
    color: black;
    transition: background 1s;
    transition: border-color 1s;
    /*border-radius: 5px;*/
}

#topMenu .area a {
    outline: 0 none;
    background: white;
    border-bottom: solid 2px transparent;
    /*border-radius: 5px;*/
    color: #337ab7;
    display: block;
    font-size: 13px;
    height: 30px;
    padding: 5px 15px;
    margin: 0 0 0 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
/*
    CONTAINER BAR
*/
#content {
    display:none;
    /*position:relative;*/
    margin-top:1px;
    /*top:1px;*/
    width:100%;
    clear:both;
    background-color:#E5EAEE;
    opacity: 0.80;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding-top:50px;
}

#content .area{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 5px;

    min-height: 300px;
    padding: 10px;
    margin: 0 auto;
    width: 1000px;
    position:relative;
}

/*
    SYNTAX HIGHLIGHTING
*/
pre {background: #fff; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

/*
    OTHERS
*/
.f-left{
    float:left;
}

.f-right{
    float:right;
}

.table{
    display:table;
}

.c-both{
    clear:both;
}

.w-100{
    width:100%;
}

.modal-body h4{
    background-color: #E5EAEE;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

.box{
    border: solid 1px #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    display: table;
    clear: both;
    width:100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.box-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.box-content{
    padding: 15px;
    content: " ";
    display: block;
    clear: both;
}

pre.bash{
    background: #f0f0f0;
}

fieldset {
    border-radius: 5px;
    border: solid 1px #1A1A1A;
    margin: 5px 0;
    padding: 10px;
}

fieldset legend {
    float: left;
}

.caps {
    text-transform: capitalize;
}

table.bulletin{

}

table.bulletin th,
table.bulletin td{
    padding:5px;
    border: solid 1px #666666;
}

table.bulletin td {
    background-color: white;
    color: #333;
}

table.bulletin th {
    background-color:#f6f6f6;
    color: #333;
}