<div class="area" ng-controller="overviewCtrl">
	<form>
		<div class="header">
			<h3>Welcome to SOAJS Installer</h3>
		</div>
		<p>
			Hello Beaver and welcome to the SOAJS installer.<br/>
			This Wizard will guide you through the steps needed to customize and install SOAJS remotely on a cloud
			provider machine.
		</p>
		<div ng-show="previousCheckComplete && alerts.length > 0">
			<alert ng-repeat="oneAlert in alerts" type="oneAlert.type">{{msg}}</alert>
		</div>
		<hr>
		<div>
			<p>
				Once SOAJS is deployed, you can open its Console using your web browser via a link that this installer
				will provide.<br/>
				This type of deployment is only supported on machines running Ubuntu.
			</p>
			<hr>
		</div>
		<div ng-show="previousCheckComplete" ng-init="selectLocation('remote')">
			<br/>
			<b>1- Select Technology:</b>
			<ui-select ng-model="remoteTechnology" ng-change="saveRemoteTechnology(remoteTechnology)">
				<ui-select-match>
					<img ng-src="{{$select.selected.url}}" height="24" style="position: relative; top: -2px;"/>&nbsp;
				</ui-select-match>
				<ui-select-choices repeat="item in (myTechnologies) track by item.name">
					<img ng-src="{{item.url}}" height="24"/>&nbsp;
					<span ng-bind="item.label"></span>
				</ui-select-choices>
			</ui-select>
			<br/>
			<div>
				<p>
					Make sure your container cluster is ready on your favorite Cloud Provider before you proceed.<br/>
					Click <a title="Click on the link for more information" href="https://soajsorg.atlassian.net/wiki/spaces/IN/pages/950599683/MODULE+-+remote-installer" target="_blank">Here</a> for more information.
				</p>
				<hr>
			</div>
			<br/>
			
			<div class="w-100 table">
				<input type="button" class="f-right btn btn-sm btn-primary" value="Proceed" ng-click="fillOverView()"/>
			</div>
		</div>
	</form>
</div>